@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #003049;
  color: #effaf3;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
  text-shadow: 1px 1px 2px #001b29;
}

.coin-input {
  outline: none;
  padding-left: 16px;
  width: 512px;
  height: 50px;
  border-radius: 3px;
  border: none;
  background-color: #effaf3;
  color: #003049;
  font-size: 22px;
  font-weight: bolder;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.coin-input:hover {
  background-color: #c2ebff;
}

.coin-input::placeholder {
  color: #003049;
}
